.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.line {
  max-height: 200px;
}

.content > mat-card {
  width: 200px;
}

.mat-card-actions{
  display:block
}

.col-md-12 {
  /* background-color:rgb(117, 189, 241); */
  border-radius:2px;
  padding:10px;
  margin-bottom: 20px;
  border-width:1px;
}

a{
  text-decoration: none;
  color:black
}

.div-color{
  background-color: rgb(117, 189, 241);
}
