<div class="grid-container">
    <div class="row" style="margin-bottom:10px">
        <div class="col-md-12">
            <!-- <mat-card>
                <mat-card-title>News Bulletin</mat-card-title>
                <mat-card-content>
                  <div *ngFor="let category of categories" class="field-checkbox">
                    <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories"
                      [inputId]="category.key" style="padding:5px"></p-checkbox>
                    <label [for]="category.key">{{category.name}}</label>
                  </div>
                </mat-card-content>
                <mat-card-actions>
                    <button pButton class="p-button-primary" label="Save" (click)="checkListSave()" style="margin-right:20px"></button>
                    Status: &emsp;
                    <button pButton icon="pi pi-exclamation-circle" class="p-button-rounded p-button-warning"
                      *ngIf="this.checklist_status === 0"></button>
                    <button pButton icon="pi pi-check-circle" class="p-button-rounded p-button-success"
                      *ngIf="this.checklist_status === 1" style="align-content: flex-end;"></button>
                </mat-card-actions>
              </mat-card> -->
        </div>
    </div>
</div>